@{
    ViewData["Title"] = "Home Page";
}

<section id="boxes">

    <div class="container">
        <div class="box">
            <img src="~/img/monke2.png">
            <h3>Sample Text</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In orci tortor, pellentesque sed tristique eu.</p>
        </div>
        <div class="box">
            <img src="~/img/diamon.png">
            <h3>Sample Text</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In orci tortor, pellentesque sed tristique eu.</p>
        </div>
        <div class="box">
            <img src="~/img/rocket2.png">
            <h3>Sample Text</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In orci tortor, pellentesque sed tristique eu.</p>
        </div>

    </div>
</section>